.footer{
    background-color: var(--tb-orange);
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    color: var(--tb-blue);
    height: auto;
}


@media only screen and (max-width:1550px) {
    .footer{
        padding-bottom: 1em;
        height: auto;
    }
}      