.header{
    background-color: var(--tb-orange);
    cursor: pointer;
}

.header li{
    list-style: none;
    
}

.header a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}/* hamburger is not displayed by default */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 60px;
    height: 5px;
    margin: 12px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--tb-blue);
}
/* nav menu is displayed flex row by default */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--tb-blue)
}

.nav-link:hover{
    color: var(--tb-turquoise);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
   
}

@media only screen  and (max-width: 1400px) {

    .header {
        position: fixed;
        width: 100%;
    }
    
    /* 
        on mobile nav menu is displayed flex column 
        nav menu on mobile is also - 100% to the left so it is invisible
    */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color:var(--tb-orange);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    /* 
        If the active class is added nav menu will be set left 0 so it is
        visbile again
        */
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    /* Hamburger on mobile is set to display:block so it is visible */
    .hamburger {
        display: block;
        cursor: pointer;
    }
    /* 
        if the active class is added the 2nd child(the middle <span> is made
        invisible by setting its opacity to 0
    */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
     /* 
        if the active class is added the first child(the top <span> 
        is turned 45deg downwards
    */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(18px) rotate(45deg);
    }
    /* 
        if the active class is added the third child(the top <span> 
        is turned 45deg upwards
    */
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }
    
}
