.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.3s;
    margin-block: 2em;
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    
}
/*
    moves card up by 1 em on hover
*/
.card:hover{
    transform: translateY(-1em);
}


@media  only screen and (max-width: 1400px) {
   .card{
       margin-top: 9rem;
       margin-bottom: -5em;
       height: auto;
   }    

   .card:hover{
       transform: none;
   }

   .card h2{
       font-size: 3em;
       font-weight: bold;
   }
}