.card-item{
    border-bottom: 0.1rem solid black;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .card-item h4 {
        font-size: 2.6em;
        font-weight: bold;
    }

    .card-item p{
        font-size: 1.7em;
        font-weight: lighter;
    }
    .card-item{
        border-bottom: 0.2em solid black;
    }
}