/* animation that reveals the TRADEBYTE letters on page load */

.header-slide-in{
    position: relative;
    left: -110%;
    animation: slide 1.5s forwards;
}

@keyframes slide{
    100% {
        left: 0;
    }
}