.typewriter h1{
    color:var(--tb-orange);
    font-size: 150px;
    overflow: hidden;
    border-right: .1em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation: typing 2.5s steps(40, end), blink .75s step-end infinite;
}
   
@keyframes typing {
        from{
            width: 0%
        }
        to {
            width: 100%
        }
    }
    
@keyframes blink {
        from, to {
            border-color: transparent
        }
        50%{
            border-color:var(--tb-orange)range;
        }
    }