/*
    Limits size of element its applied to.
*/
.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
   /* Sets width wider for mobile*/
    .container{
        width: 95%;
    }
}