
/*
  Activates the dropdown menu
  cursor: pointer -> changes cursor on mouse over to pointer
*/
.dropbtn {
    background-color: var(--tb-orange);
    color:var(--tb-blue);
    font-size: 2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
  }
  /* 
    Spins caret icon 180 Deg when in focus
  */
.dropbtn:focus i{
    animation: half-spin 0s ease-in forwards;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /*
    content is not displayed
  */
  .dropdown-content {
    display: none;
    position: absolute; 
    background-color: var(--tb-orange);
    min-width: 8em;
    z-index: 1;
  }
  /*
    Links inside dropdown content 
  */
  .dropdown-content a {
    color: var(--tb-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid var(--tb-blue)
  }
  
/*
  If focus is within dropdown content will be displayed
*/
  .dropdown:focus-within .dropdown-content {
    display: block;
  }
  

  /*
    On screens smaller than 1550px
  */
  @media only screen and (max-width: 1550px) {
      
    .dropdown-content{
        margin-top: 1em;
        position: relative;
    }

    .dropbtn:focus i{
        animation: half-spin 0s forwards;
    }
  }