/*
    confines and aligns contents
*/
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 100vh;
}
/*
    sets minimum height on mobile to 87% of the viewport height 
*/
@media only screen and (max-width:1550px) {
    .wrapper{
        height: ;

}