.add-btn{
    background-color: var(--tb-white);
    font-size: 1.1rem;
    padding: 1em;
    border: var(--tb-orange) 0.2rem solid;
    background-color: var(--tb-orange);
    color: var(--tb-white);
    margin-top: 0.2em;
    border-radius: 10px;
}

.add-btn:hover{
    transition-duration: 0.4s;
    background-color: rgba(255, 109, 45, 0.7);
    color: var(--tb-white);
}

.add-btn:active{
    transition-duration: 0.1s;
    background-color: var(--tb-blue);
    border: var(--tb-blue) 0.2rem solid;
}

@media  only screen and (max-width: 1024px) {
    /*Disableing hover effect on mobile*/
    .add-btn:hover{
        background-color: var(--tb-orange);
    }
    
    .add-btn:active{
        background-color: var(--tb-blue);
        border: var(--tb-blue) 0.2rem solid;
    }
    
        
}