.create-btn{
    border-radius: 0.5em;
    background-color: var(--tb-white);
    font-size: 1.5rem;
    padding: 0.5rem;
    border: var(--tb-orange) 0.2rem solid;
    background-color: var(--tb-orange);
    color: var(--tb-white);
}
/*adding transperent background on hover*/
.create-btn:hover{
    transition-duration: 0.4s;
    background-color: rgba(255, 109, 45, 0.7);
    color: var(--tb-white);
}
/*changing color on active*/
.create-btn:active{
    transition-duration: 0.1s;
    background-color: var(--tb-blue);
    border: var(--tb-blue) 0.2rem solid;
}

@media  only screen and (max-width: 1024px) {
    /*Disableing  hover effect on mobile */
    .create-btn:hover{
        background-color: var(--tb-orange);
    }
    
    /* Increasing font size on mobile*/    
    .create-btn{
        font-size: 2rem;
    }

        
}
