.footer-list-items{
    font-size: 1.5rem;
    color: var(--tb-blue);
}

.footer-list-items li{
    list-style: none;
    padding-right: 1em;
}

.footer-list-items ul{
    display: flex;
    flex-direction: row;
} 

/*
    Moves list items up by 0.3 rem if hoverd
*/
.footer-list-items li:hover{
    color: var(--tb-turquoise);
    transition-duration: 0.3s;
    transform: translateY(-0.3em);
}
/*
    applies spin animation to list items icon 
    cubic bezier -> curve with 4 points 0 start -> 3 end 
*/
.footer-list-items li:hover i{
    animation: spin 3s steps(40, end);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-list-items li a{
    color: var(--tb-blue);
    text-decoration: none;
}
/*
    applies tb-turquqise to anchor tags on hover
*/
.footer-list-items li a:hover{
    color: var(--tb-turquoise);
}