.groups-table{
    font-size: 1.6rem;
    font-weight: normal;
    width:100%;
}
/*
    collapses borders for tabel head and table data, aligns text left
*/
.groups-table td, th {
    padding: 0.7rem;
    text-align: left;
    border-collapse: collapse;
  }
/*
    set baclground color for table head to tb-grey
*/
.groups-table th{
    background-color: var(--tb-grey);
}

/*
    Collapses table on mobile to improve reabability
*/
@media only screen and (max-width: 1024px) {
    .groups-table  td{
        display: block;
    }
    /*
        Gets rid of table head on mobile
    */
    .groups-table thead{
        display: none;
    }
    /*
        sets color of first child(the first instance of a parent element) to tb-grey 
    */
    .groups-table td:first-child{
        background-color: var(--tb-grey);
    }
    /*
        Adds content descriptor to 2nd child
        (n representing an arbitrary number which is passed in 
        parentheses nth child meaning the child of the number which is passed)
    */
    .groups-table td:nth-child(2)::before{
        content: "Fachbereich: ";
    }

    .groups-table td:nth-child(3)::before{
        content: "Verantwortlicher: ";
    }
}