.input-textarea{
    height: auto;
    min-height: 10em;
    min-width: 100%;
    resize: none;
}

@media only screen and (max-width: 1024px) {
    .input-textarea{
        min-height: 20rem;
        max-width: 90%;
        font-size: 3em;
    }
}