.journal-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.journal-header h3{
    font-size: 1.6em;
}

@media only screen and (max-width: 1024px) {
    .journal-header{
        
        font-size: 2.3em;
    }
}