.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: var(--tb-black);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: var(--tb-orange);
    color: var(--tb-white);
    border-radius: 10px;
  }
  
  .pagination a:hover:not(.active) {
      background-color: var(--tb-grey);
      border-radius: 10px;
    }