@import "../abstracts/colors.css";
@import "../abstracts/fonts.css";
@import "../components/html-elements/body.css";
@import "../components/cards/card.css";
@import "../components/layout-elements/container.css";
@import "../components/layout-elements/wrapper.css";
@import "../components/layout-elements/menu-container.css";
@import "../components/html-elements/header.css";
@import "../components/buttons/create-button.css";
@import "../components/cards/card-item.css";
@import "../components/html-elements/footer.css";
@import "../components/footer-list-items.css";
@import "../components/buttons/add-btn.css";
@import "../components/text-input.css";
@import "../components/groups-table.css";
@import "../components/animations/spin.css";
@import "../components/animations/header-ease-in.css";
@import "../components/layout-elements/dropdown.css";
@import "../components/animations/half-spin.css";
@import "../components/layout-elements/dropdown.css";

html{
    font-family: 'Prompt', Ubuntu, sans-serif;
}

/* Overwriting button */
.create-btn{
    font-size: 1rem;
    padding: 0.7rem;
}

/* overwriting container */
.container{
    width: 65em;
}

/* Wrapper Overwrite */

.wrapper{
    align-items: center;
}


.groups-form{
    display: none;
}

.groups-form.open{
    display: block;
}

.add-btn{
    width: 100%;
}

.add-group{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 10%;
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bold;
}

.add-group:hover{
    text-decoration: underline;
    color: var(--tb-turquoise)
}