/* Importing other stylesheets */
@import "../abstracts/colors.css";
@import "../abstracts/fonts.css";
@import "../components/html-elements/body.css";
@import "../components/cards/card.css";
@import "../components/layout-elements/container.css";
@import "../components/layout-elements/wrapper.css";
@import "../components/layout-elements/menu-container.css";
@import "../components/html-elements/header.css";
@import "../components/buttons/create-button.css";
@import "../components/cards/card-item.css";
@import "../components/html-elements/footer.css";
@import "../components/footer-list-items.css";
@import "../components/animations/header-ease-in.css";
@import "../components/animations/spin.css";
@import "../components/animations/half-spin.css";
@import "../components/layout-elements/dropdown.css";


html{
    font-family: 'Prompt', Ubuntu, sans-serif;
    position: relative;
    height: 100%;
}