@import "../abstracts/colors.css";
@import "../abstracts/fonts.css";
@import "../components/html-elements/body.css";
@import "../components/cards/card.css";
@import "../components/layout-elements/container.css";
@import "../components/layout-elements/wrapper.css";
@import "../components/layout-elements/menu-container.css";
@import "../components/html-elements/header.css";
@import "../components/buttons/create-button.css";
@import "../components/cards/card-item.css";
@import "../components/html-elements/footer.css";
@import "../components/footer-list-items.css";
@import "../components/buttons/add-btn.css";
@import "../components/journal-header.css";
@import "../components/animations/spin.css";
@import "../components/text-input.css";
@import "../components/input-textarea.css";
@import "../components/label.css";
@import "../components/pagination.css";
@import "../components/animations/header-ease-in.css";
@import "../components/animations/half-spin.css";
@import "../components/layout-elements/dropdown.css";


html{
    font-family: 'Prompt', Ubuntu, sans-serif;
}

/* Overwriting create-btn */
.create-btn{
    font-size: 1rem;
    height: 4rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}

/* Overwriting add button */
.add-btn{
    width: 100%;
}

/* Overwriting container */
.container{
    width: 60%;
}

@media only screen and (max-width:1024px) {
    .container{
        width: 80%;
    }
}