@import "../abstracts/colors.css"; 
@import "../abstracts/fonts.css";
@import "../components/cards/card.css";
@import "../components/layout-elements/container.css";
@import "../components/layout-elements/wrapper.css";
@import "../components/buttons/create-button.css";
@import "../components/layout-elements/button-container.css";
@import "../components/animations/typewriter.css";
@import "../components/html-elements/footer.css";
@import "../components/html-elements/body.css";
@import "../components/text-input.css";
@import "../components/animations/spin.css";
@import "../components/footer-list-items.css";

html{
    font-family: 'Prompt', Ubuntu, sans-serif;
}

.create-btn{
    width: 100%;
    margin:0.25em;
   
}

.wrapper{
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1024px){
    body{
        font-size: 2.5em;
    }
    .create-btn{
        font-size: 1em;
    }
    .wrapper{
        height: min-content;
    }
}