body{
    background: #365072;
}

table{
    border-top: 2px solid black;
    margin-bottom: 20px;
}

th, tr{
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
    font-weight: 1;
    background: white;
    width: 100em;
}


select{
    background: var(--tb-orange);
    border-radius: 5px;
    border-color: var(--tb-orange);
    color: var(--tb-white);
    padding: 1px;
    padding-inline: 3px;
    margin-inline: 5px;

}
.create-btn{

    height: min-content;
    font-size: 15px;
    padding: 5px;

}
textarea{
    background: var(--tb-grey);
    border-radius: 5px;
    height:min-content;
    font-size: 20px;
    width: 30%;


}
h2{
    margin: 10px;
}