body{
    background: #365072;
}

table, th, tr{
    text-align: left;

}

thead{
    background-color: var(--tb-grey);


}

#tableTop{
    width: 100%;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#tableBottom{
    margin-block: 10px;
}

.create-btn{

    height: min-content;
    width: 100%;
    font-size: 15px;
    padding: 3px;

}
h2{
    margin: 10px;
}

input{
    border: none;
    background-color: var(--tb-grey);
}