:root{
    /* Main Logo Colors */
    --tb-coral: #ed6861;
    --tb-balck: #000;
    --tb-turquoise: #0b9aab;
    --tb-white: #fff;
    /* TYPE A */
    --tb-blue: #365072;
    --tb-petrol: #446a7d;
    --tb-olive: #698a82;
    --tb-eucalyptus: #91b6bb;
    --tb-coolgrey: #d9d8d6;
    /* TYPE B */
    --tb-orange: #ff6d2d;
    --tb-rose: #ff7962;
    --tb-sand: #ffb673;
    --tb-biscuit: #ffca9b;
    --tb-grey: #eeeded;
}

