@font-face {
    font-family: 'Prompt';
    src: url('../../assets/fonts/Prompt-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('../../assets/fonts/Prompt-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Prompt';
    src: url('../../assets/fonts/Prompt-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Prompt';
    src: url('../../assets/fonts/Prompt-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}